.restaurant {
  margin: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.restaurant h2 {
  margin-bottom: 0.5rem;
}

.restaurant-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 1rem;
}

.restaurant-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
