.container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .item {
      border: 1px solid black;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 20px;
      width: 90%;
    }
    
    .item.reverse {
      flex-direction: row-reverse;
    }
    .img{
      border-radius: 10%;
    }
    
    .img-wrapper {
     
      flex: 0.2;
    }
    
    .img-wrapper img {
      width: 360px;
      height: 302px;
    }
    
    .content {
      flex: 1;
      padding: 20px;
    }
    
    h2 {
      margin-top: 0;
    }
    
    